/* ===== KOSTUM CSS PORTOFOLIO ======= */

/* -------------------------
   Base / Reset
   ------------------------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* -------------------------
   Slick Slider
   (formatted & preserved behavior)
   ------------------------- */

.slick-slider {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}

.slick-list,
.slick-slider {
  display: block;
  position: relative;
}

.slick-list {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* ensure hardware acceleration where used */
.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translateZ(0);
}

.slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* fixed loader url syntax */
.slick-loading .slick-list {
  background: #fff url('/images/loader.gif') 50% no-repeat;
}

/* slick icon font */
@font-face {
  font-family: 'slick';
  font-style: normal;
  font-weight: 400;
  src: url('/media/slick.a4e97f5a2a64f0ab1323.eot');
  src: url('/media/slick.a4e97f5a2a64f0ab1323.eot') format("embedded-opentype"),
       url('/media/slick.295183786cd8a1389865.woff') format("woff"),
       url('/media/slick.c94f7671dcc99dce43e2.ttf') format("truetype"),
       url('/media/slick.2630a3e3eab21c607e21.svg') format("svg");
}

/* arrows */
.slick-next,
.slick-prev {
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  background: transparent;
  color: transparent;
  outline: none;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  background: transparent;
  color: transparent;
  outline: none;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: .25;
}

.slick-next:before,
.slick-prev:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
}

/* left arrow */
.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

/* right arrow */
.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  bottom: -25px;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  position: relative;
}

.slick-dots li,
.slick-dots li button {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.slick-dots li button {
  background: transparent;
  border: 0;
  color: transparent;
  display: block;
  font-size: 0;
  line-height: 0;
  outline: none;
  padding: 5px;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: none;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}

.slick-dots li button:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  content: "•";
  font-family: slick;
  font-size: 6px;
  height: 20px;
  left: 0;
  line-height: 20px;
  opacity: .25;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.slick-dots li.slick-active button:before {
  color: #000;
  opacity: .75;
}

/* -------------------------
   Fonts (Nunito + LineIcons)
   ------------------------- */

/* nunito-300 */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-300.woff2') format('woff2');
}

/* nunito-300italic */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-300italic.woff2') format('woff2');
}

/* nunito-regular */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-regular.woff2') format('woff2');
}

/* nunito-italic */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-italic.woff2') format('woff2');
}

/* nunito-600 */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600.woff2') format('woff2');
}

/* nunito-600italic */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-600italic.woff2') format('woff2');
}

/* nunito-700 */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700.woff2') format('woff2');
}

/* nunito-700italic */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-700italic.woff2') format('woff2');
}

/* nunito-800 */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-800.woff2') format('woff2');
}

/* nunito-800italic */
@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/nunito-v32-cyrillic_cyrillic-ext_latin_latin-ext_vietnamese-800italic.woff2') format('woff2');
}

/* LineIcons */
@font-face {
  font-family: 'LineIcons';
  src: url('/fonts/lineicons.woff2') format('woff2'),
       url('/fonts/lineicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
